{% extends 'base.html.twig' %}


{% block body %}

{#
    {% for messages in app.flashes("success") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}#}

    <div class="container-fluid">
        <div> <h1>Post</h1>

            <span>By {{ post.auteur }}</span>

            <h3> {{ post.title}} </h3>
            <p>{{ post.content }}</p>

        </div>
    </div>


    <div>
        <h5> {{ likesCount }} likes </h5>
        <button><a href="{{ path("likePost", {id: post.id} )}}">Like</a></button>
    </div>



    <div>
        <h2>Replies</h2>

        {% for reply in replies %}
            <div class="comment" id="comment">
                   <p>{{ reply.content}}</p>

                <span>Par {{ reply.author }}</span>
            </div>
        {% endfor %}
    </div>



    {% if is_granted('ROLE_ADMIN') %}
        <div class="form">
            <h2>Repondre au post</h2>
            {{ form(form) }}
        </div>
    {% else %}
        <p>Vous devez être connecté pour pouvoir répondre</p>
    {% endif %}



{% endblock %}