{% extends 'base.html.twig' %}


{% block body %}

{#
    {% for messages in app.flashes("success") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}#}

    <div class="container-fluid">
        <div> <h1>Post</h1>

            <span>By {{ post.auteur }}</span>

            <h3> {{ post.title}} </h3>
            <p>{{ post.content }}</p>

        </div>
    </div>


    <div>
        <h5 class="countLikes"> {{ likesCount }} likes </h5>

        {% if is_granted('ROLE_ADMIN') %}
            <button><a id="likebtn" class="likeLink" href="{{ path("likePost", {id: post.id} )}}">Like</a></button>
            {% else %}
            <p>Connectez-vous et aimez ce post !</p>
        {% endif %}
    </div>0



    <div>
        <h2>Replies</h2>

        {% for reply in replies %}
            <div class="comment" id="comment">
                   <p>{{ reply.content}}</p>

                <span>Par {{ reply.author }}</span>
            </div>
        {% endfor %}
    </div>



    {% if is_granted('ROLE_ADMIN') %}
        <div class="form">
            <h2>Repondre au post</h2>
            {{ form(form) }}
        </div>
    {% else %}
        <p>Vous devez être connecté pour pouvoir répondre</p>
    {% endif %}



{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
document.addEventListener("DOMContentLoaded", function (){

    const countDiv = document.querySelector(".countLikes")
    const likeBtn = document.querySelectorAll('a.likeLink')
    console.log(likeBtn)



    {#// PREVENT DEFAULT#}
    likeBtn.forEach(function (btn){
        console.log(btn)
        btn.addEventListener("click", function (event){
            event.preventDefault()

          // Request Like Unlike
            const url = this.href
            axios.get(url).then(function (response){
                console.log(response.data)
                var counter = response.data.count
                console.log("count = " + response.data.count)
                countDiv.innerHTML =  counter + " Likes"
            })

        })
    })

})
    {#// SELECT DOM ELEMENTS#}







    {#//MAKE REQUEST TO SERVER#}

    {#//MANIPULATE DATA FROM RESPONSE TO UPDATE VIEW#}

 </script>
{% endblock %}